
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	/*-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;*/
}
.product-carousel .slider-wrapper-outer{
	
	position: relative;
	width: 100%;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	/*-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;*/
}
	
.product-carousel .slider-item{
	float: left;
	margin:0px;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	/*-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;*/
}

/* mouse grab icon */
 
.grabbing { 
    cursor:url("../../image/megnor/grabbing.png") 8 8, move;
}


/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	
	list-style:none;
	
}
.customNavigation    { text-align: center; position:relative;width:100%}
.customNavigation a{
	/*-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;*/
	/*-webkit-tap-highlight-color:transparent;*/
	display: block;
    float: right;
    height:30px;
    position: absolute;
    top: -45px;
    width:30px; 
	 text-indent: -9999px;
	 cursor:pointer;
} 
.customNavigation a.prev {
  	background: url("../../images/sprite.png") no-repeat scroll -122px 0px transparent;
    right:40px;
}
.tabberlive .customNavigation a.prev{right:40px;}
.tabberlive .customNavigation a.next{right:10px;}
.tabberlive .customNavigation a{top:-57px;}
.customNavigation a.prev:hover 	{ background-position: -122px -33px;  text-decoration:none;}
.customNavigation a.next {
	background: url("../../images/sprite.png") no-repeat scroll -157px 0px  transparent;
    right:10px;
}
.customNavigation a.next:hover 	{ background-position: -157px -33px; text-decoration:none;}

/**************** additional carousel start *******************/
.additional-carousel .product-carousel{  width:auto; margin:0 50px; }
.additional-carousel .customNavigation a.prev {
    left:0px;
	top:32px;
	z-index:999;  
	text-indent: -9999px;
	cursor:pointer;
	
}
.additional-carousel .customNavigation a.prev:hover 	{ text-decoration:none; z-index:999;}
.additional-carousel .customNavigation a.next {
	 
    right:0px;
	top:32px;
	cursor:pointer;
	z-index:999; 
	 text-indent: -9999px;
}
.additional-carousel .customNavigation a.next:hover 	{  text-decoration:none; z-index:999;}
.additional-carousel .slider-item {   float: left;  width: 90px; }
.additional-carousel .slider-item .product-block{ background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #EEEEEE;
    clear: both;
    margin: 4px 3px;
    overflow: hidden;}

/**************** additional carousel End *******************/

.product-info .product-image .customNavigation    { text-align: center; position:absolute; width:100%; z-index:9;}
.product-info .product-image .customNavigation a{
	/*-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;*/
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation a.prev {
  	background: url("../../image/megnor/sprite.png") no-repeat scroll -11px -60px transparent;
    left:-3px;
	top:35px;
}
.product-info .product-image .customNavigation a.prev:hover 	{ background-position: -11px -90px; text-decoration:none;}
.product-info .product-image .customNavigation a.next {
	background: url("../../image/megnor/sprite.png") no-repeat scroll -43px -60px transparent;
	right:-3px;
	top:35px;
}
.product-info .product-image .customNavigation a.next:hover 	{ background-position: -43px -90px; text-decoration:none;}
.blog_main .customNavigation a.prev{right:30px; top:-79px; }
.blog_main .customNavigation a.next{right:0px; top:-79px; }
/*.related-products .customNavigation{ width:97%;}
.related-products .customNavigation a.prev {
  	background: url("../../image/megnor/sprite.png") no-repeat scroll -204px 2px transparent;
    right:25px;
	top:-20px;
}
.related-products .customNavigation a.prev:hover 	{ background-position: -204px -27px; text-decoration:none;}
.related-products .customNavigation a.next {
	background: url("../../image/megnor/sprite.png") no-repeat scroll -234px 2px transparent;
	right:0px;
	top:-20px;
}
.related-products .customNavigation a.next:hover 	{ background-position: -234px -27px; text-decoration:none;}
*/
