/* Media for 980px to 1023px */
/* 980px <= width < 1023px */

@media only screen and (min-width: 1024px) and (max-width: 1160px) {
.header,.nav-inner,.main,.footer,.tabberlive,.breadcrumbs,.banner-total {width:980px;}
.last_row{width:auto; overflow:hidden;}
.header_left,.header_right{width:400px;}
.header_center{width:180px;}

.subbanner3_1{width: 440px;}
.subbanner3_2{width:530px;}
.bottom1,.bottom2{width:255px;}
.blog_main{width:430px;}
.blog_main .img{width:155px;}
.blog-right{width:240px;}
.specialproduct,.bestseller-row{width:265px;}
.footer-center .manufacture ul{width:400px;}
.footer-center .block .block-title{margin-left:20px;}
.block-subscribe .block-content{padding:10px 0px 3px 35px;}
.block-subscribe input.input-text{width:259px;}
.block.block-subscribe{width:450px;}
.footer-center .manufacture{width:510px;}
#footer #block_1.footer-area,#footer #block_4.footer-area{width:210px; margin-right:20px;}
#footer #block_2.footer-area,#footer #block_3.footer-area{width:210px;margin-right:10px;}
.col-main{width:740px;}
.col-left{width:220px;}
.block.block-banner a img{width:100%;}
.products-list li .list-center{width:435px;}
.product-view .product-img-box{width:442px; margin-right:15px;}
.col1-layout .product-view .product-shop{width:495px;margin-right:15px;}
.product-view .product-img-box img{max-width:100%;}
.info3col-data .custom_block{width:230px;}
.info3col-data .custom_block img{max-width:100%;}
.cart .cart-collaterals .col1-set{width:360px;}
.cart .cart-collaterals .col2-set{width:595px;}
.cart .totals{width:280px;}
.subbanner2 .content:hover .data img{margin-top:-100px}
.category-title{margin-top:0px;}
.cms-banner,.breadcrumbs{margin-bottom:15px;}
.last_row .category-title h2 .line_background{width:60px;}
.last_row .bestseller-row .category-title h2 .line_background{width:50px;}
.box-up-sell .line_background{width:25%;}
.line-tab{width:45%; }
.subbanner2_1,.subbanner2_2,.subbanner2_3{width:313px;}
.banner1 .content,.banner3 .content{margin:0px 0px 0px 0px;}
.cms-banner .banner{width:33%;}
.bannertext{width:70%;}
.shopping_CMS_main1 img{max-width:100%;}
.crosssell .line_background{width:120px;}
}

@media only screen and (min-width: 980px) and (max-width: 1023px) {


.header,.nav-inner,.main,.footer,.tabberlive,.breadcrumbs,.banner-total{width:940px;}
.last_row{width:auto; overflow:hidden;}
.header_left,.header_right{width:380px;}
.header_center{width:180px;}

.subbanner3_1{width: 420px;}
.subbanner3_2{width:510px;}
.bottom1,.bottom2{width:245px;}
.blog_main{width:410px;}
.blog_main .img{width:145px;}
.blog-right{width:230px;}
.specialproduct,.bestseller-row{width:255px;}
.footer-center .manufacture ul{width:380px;}
.footer-center .block .block-title{margin-left:20px;}
.block-subscribe .block-content{padding:10px 0px 3px 35px;}
.block-subscribe input.input-text{width:240px;}
.block.block-subscribe{width:430px;}
.footer-center .manufacture{width:490px;}
#footer #block_1.footer-area,#footer #block_4.footer-area{width:230px; margin-right:15px;}
#footer #block_2.footer-area,#footer #block_3.footer-area{width:200px;margin-right:10px;}
.subbanner2 .content:hover .data img{margin-top:-60px}
.col-main { float:left; width:725px;}
.col-left { float:left; width:195px;}
.col-right { float:right; width:195px; margin-left:0;}
.col-left .mini-products-list .product-details{float:left; margin:0; clear:both;}
 .products-list li .list-center{width:410px;}
.col3-layout .col-main { width:520px; margin-left:10px; }
.col3-layout .col-wrapper { float:left; width:720px; }
.product-view .product-shop{ width:432px; }
.col1-layout .product-view .product-shop{ width:480px; }
.block-banner img{ max-width:100%; }
#footer .mobile_togglemenu{ display:none;  }
#footer .footer-area{ width:220px; }
.info3col-data{float:left; clear:both;margin-top:15px;}
.cart .cart-collaterals .col1-set , .cart .cart-collaterals .col2-set , .cart .totals{ width:100%; }
.category-title{margin-top:0px;}
.cms-banner,.breadcrumbs{margin-bottom:15px;}
.last_row .bestseller-row .category-title h2 .line_background{width:40px;}
.box-up-sell .line_background{width:22%;}
.last_row .category-title h2 .line_background{width:45px;left: 165px; background:none; }
.line-tab{width:40%;}
.subbanner2_1,.subbanner2_2,.subbanner2_3{width:300px;}
.banner1 .content,.banner3 .content{margin:0px 0px 0px 0px;}
.cms-banner .banner{width:33%;}
.bannertext{width:70%;}
.subbanner2_1 .bannertext,.bannertext{left:45px;}
#footer #block_5{margin-left:10px;}
.shopping_CMS_main1 img{max-width:100%;}
.crosssell .line_background{width:80px;}
.product-view .product-img-box .product-image #zoom1 img{width:100%;}
.product-view .product-img-box{width:430px;}

}

@media only screen and (max-width: 979px){

.header,.nav-inner,.main,.footer,.tabberlive,.breadcrumbs,.banner-total,.blog_main {width:724px; margin:0 auto;}
.header_left,.header_right,.header_center{width:100%; float:none;}
.breadcrumbs{margin-bottom:15px !important}
.header .links{display:inline-block; float:none;}
.header .form-search{float:right;}
.header_center,.header .logo{float:none; clear:both; text-align:center;  display:block; overflow:hidden;} 
.block-cart{display:inline-block; position:relative;}
.header .header-cart #panel{top:35px; right:-60px;}
.header .mini-products-list .product-details{clear:none; margin-left:20px;}
.block-cart .summary{clear:both;}
.tm_headerlinkmenu{width:100%; text-align:center;}
.header-cart{float:none; width:100%; text-align:center;}
.banner1 .content{margin-left:90px;}
.subbanner3_1{width: 365px;}
.subbanner3_2{width:340px;}
.bottom1,.bottom2{width:160px;}
.blog_main{ margin-right:0px;}
.blog_main .img{width:125px;}
.blog-right{ margin-left:10px;}
.blog_title{padding-left:0px;margin-bottom:15px;}
.blog-outer{margin-left:0px;}
.specialproduct,.bestseller-row{width:50%; float:left;}
.tabberlive{margin-top:35px;}
.special-products,.bestseller-products{margin:0px;}
.footer-center .manufacture ul{width:380px;}
.blog_main .customNavigation a.prev,.blog_main .customNavigation a.next{top:-62px;}
.footer-center .block .block-title{margin-left:0px; background:url("../../images/envelope.png") 0px 3px no-repeat; padding-top:0px; padding-bottom:0px; }
.block-subscribe .block-content{padding:10px 0px 3px 0px;}
.footer_top{padding:30px 0px 10px;}
.block-subscribe .actions{float:left; margin-left:10px;}
.last_row .old-price, .last_row .special-price{padding-left:0px;}
.blog-right .content{margin-top:5px;}
.block-subscribe input.input-text{width:270px;}
.block.block-subscribe{width:100%;}
.bottom1 .banner-text,.bottom2 .banner-text{left:15px;}
.subbanner3_1 .image{margin-right:0px}
.bestseller-products{margin-left:10px;}
.subbanner3_bottom .bottom1{margin-right:20px;}
.footer .block .block-content{padding-bottom:0px; padding-left:0px;}
#newsletter-validate-detail ul{margin-top:7px;}
.footer-center .manufacture{width:100%; padding:20px 0px; margin:0px; border-bottom:1px solid #4d4d4d;}
.footer-center .manufacture ul{width:85%;}
.footer-center .content{border-left:none;  padding:20px 0px; width:100%; }
.cms-banner .banner{width:33%; text-align:left; float:left;}
.banner-total{overflow:hidden;}
.cms-banner .banner2{width:36%;}
.banner2 .content{margin-left:20px;}
.cms-banner .banner3{width:30%; text-align:right;}
.banner3 .content{margin:0px 0px 0px 10px;}
.cms-banner .banner3 .content{ text-align:left;}
.subbanner2_1 .bannertext,.subbanner2_2 .bannertext,.subbanner2_3 .bannertext{left: 0px;
width: 100%;
right: 0px;
margin: 0 auto;
text-align: center;}
.banner1 .content{margin:0px;}
.footer{ padding:0; }
.col-main , .col3-layout .col-wrapper{ width:549px;}
.col3-layout .col-main{ width:374px; }  
.col-left,.col-right { width:165px;}
 #advancedmenu{ display:none !important; }
.advanced_nav{ display:block; }
#zoom-btn , .mousetrap {display:none !important; }
#zoom1 {cursor:default !important; }
 .nav-inner{text-align:left;}
 .nav-responsive span{padding-left:0px;}
.header .quick-access{ width:100%; }
.footer .mobile_togglemenu{ display:block; }
#footer ul{ display:none; margin-bottom:10px; }
#footer .footer-area{ width:100%; margin-right:0; }
.products-list li .list-center{ width: 255px;}
.product-view .product-shop{   width: 100%; }
.cart .cart-collaterals .col2-set, .cart .totals{ width:100%; }
.checkout-progress{ padding: 0 10px; }
.form-list li.wide select , .form-list li.wide .input-box {width: 400px;}
.gift-messages-form .item .details .form-list li.wide .input-box , .form-list li.wide input.input-text{ width:100%; }
.col1-layout .product-view .product-shop{ width: 337px; margin-right:0px;}
.padder h6 { display:block; padding:5px 3px 2px 7px;line-height: 25px; }
.product-collateral .padder{padding:15px 10px 0px;}
.product-view .tabs{ display:none !important; }
.contacform{ width:100%; margin-bottom:10px; padding:0; margin-right:0; border:none; }
.googlemap{ width:100%;margin-bottom:10px;  }
.block-banner img , .category-image img{ max-width:100%;}
.toolbar .pager .pager_right{ float:left; margin-top:8px; clear:both; }
.footer_bottom ul.links{display:block;text-align:center; float:none; margin-bottom:5px; }
.footer address{ float:none;text-align:center; clear:both; }
.product-collateral .padder{ padding-left:0; padding-right:0; }
.padder ol{ display:none; margin-bottom: 15px;}
.padder > div{ display:block !important;  }
#footer .block-subscribe input.input-text{ width:98%; }
.block-subscribe .block-title strong {    display: inline;}
.multiple-checkout .gift-messages-form .item .details .form-list li.wide .input-box{ width:90%; }
.subbanner2 .content:hover .data img{margin-top:-40px}
.block .block-content{padding:5px 10px 25px 15px;}
.block .block-title{padding:20px 15px 7px;}
.mini-products-list .product-details{float:left; clear:both; margin:0px;}
.products-list li .list-left{width:230px;}
.products-list li .list-center{width:280px;}
.product-view .product-img-box{width:362px; margin-right:15px;}
.product-view .product-img-box .product-image #zoom1 img{width:100%;}
.products-list li .list-left .product-image img{width:100%; height:auto;}
.product-collateral .padder{border-top:none;}
.blog_main{margin-bottom:20px;}
.nav-responsive span{padding-bottom:10px;}
.category-title{margin-top:0px;}
.cart .cart-collaterals .col1-set{width:100%;}
.crosssell .line_background{display:none;}
.blog-right{width:220px;}
#footer #block_3.footer-area,#footer #block_5{width:100%;}
.send-friend .form-list{width:auto;}
.send-friend .form-list li.wide .input-box{width:92%;}
.send-friend .form-list li.wide textarea{width:100%;}
.box-up-sell .line_background{width:18%;}
.line-tab{width: 190px; left:440px;}
#footer #block_5{margin:0px;}
.subbanner2_1,.subbanner2_2,.subbanner2_3{width:230px;}
.subbanner2 .banner{margin-right:17px;}
.product-image-block a.product-image img{height:auto;}
.footer-center .block .block-title{padding:0px 20px 0px 40px;}
.line_background{display:none;}
.footer ul.social_block{margin-left:0px;}
.shopping_CMS_main1 img{width:100%;}
.footer_bottom{float:none;}
.payment-footer{float:none; margin-top:5px;}
.footer-center .block-subscribe ul li{display:block;}
.manufacture_title{margin:0px;}
}
 
/* Landscape phone to portrait tablet */
@media only screen and (max-width: 767px) {

.header, .nav-inner, .main,  .footer,.breadcrumbs{ width:auto;  margin:0 15px;  }
.tabberlive{width:100%;}
.col-left ,.col-right  ,.col-main{ width:100%;}
.col-main{ margin-bottom:10px; }
.box-up-sell .line_background{display:none;}
.col-left .block-content ,.col-right .block-content{ display:none; }
.col3-layout .col-wrapper , .col-main , .col3-layout .col-main{  width:100%;}
.toggle .mobile_togglecolumn {
    display: block;
}
.block-banner{ display:none; }
.header_left{width:100%;}
.header_center{margin-bottom:30px;}
/********** Header Setting *************/
.header .logo{  margin: 0 auto;
    text-align: center;
    text-decoration: none !important;
   float:none;
   display:inline-block;}
.header .quick-access{ margin:10px 0; }
.header .quick-access , .header .form-search , .header .form-search input.input-text{  width:97%; padding-left:0%; padding-right:3%; }
.header_top{ height:80px; }
.header .welcome-msg{ float:none; width:100%; text-align:center; }
.header .links{ display:none; float:none; text-align:left; position:absolute; background:#EFEFEF; }
.tm_headerlinks_inner{ display:block; cursor:pointer; padding:10px 0;  }
.header .links { margin:0; top:40px; width:100%; right:0; background:#fff;}
.header .links li{ display:block; float:none; background:none; padding:0px !important }
.header .links li a{ text-decoration:none; padding: 5px; display:block;}
.header .links li a:hover{ background:#fff; color:#e96a41; } 
.header .form-search{top:105px;}
.header .tm_top_currency , .header .form-language{ float:left; text-align:center; }
.header .tm_top_currency , .header .form-language {
 width:25%; margin:0 1px 0 0px;  position:relative; background:#e96a41; top:10px; padding: 0px;} 
 .form-language .sbHolder, .tm_top_currency .sbHolder{ border:none; padding:0 0 0 0; background:none; float:none; }
 .form-language .sbHolder > a, .tm_top_currency .sbHolder > a{  color:#fff; text-align:center; padding:10px 0px 10px; top:3px; }
 .form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions{ width:100%; left:0; top:40px !important; text-align:left; }
.header-cart , .tm_headerlinkmenu {
    float: right;
   margin: 0 -1px 0 0;
    position: absolute;
    right: 0;
    top: 35px;
	 width:25%;
	 background:#e96a41; padding:0;
	  border-left: 1px solid #222426;
    border-right: 1px solid #222426;
}

.header .welcome-msg{margin:0 0 0px; padding-top:5px;}
.cms-banner{padding:0px; margin:0px;}
.products-list .hover_block{position:relative; float:left;}
.subbanner3_1{width:45%;}
.subbanner3_2{width:55%; margin-left:0px;}
.subbanner3_1 .image{margin-right:5px;}
.subbanner3_top,.subbanner3_bottom{margin-left:10px;}
.bottom1 .image{margin-right:10px;}
.bottom2 .image{margin-left:5px;}
.subbanner3_1 .banner-text{left:25px;}
.subbanner3 .subbanner3_1 .banner-title a,.subbanner3_top .banner-text .banner-title a,.subbanner3 .bottom1 .banner-title a, .subbanner3 .bottom2 .banner-title a{font-size:18px;}
.banner_title a{font-size:15px;}
.sub_title .left_border ,.sub_title  .right_border{display:none;}
.subbanner2 .banner .content{}
.bottom1 .banner-text, .bottom2 .banner-text{left:5px;}
.subbanner3_bottom .bottom1,.subbanner3_bottom .bottom2{width:50%; margin:0px;}
.banner-total{display:none;}
.tm_headerlinkmenu{ right:25%;}
.cart_mini_right{ background:none; padding:9px 0 10px; color:#fff; margin:0 0 0 1px;
border:none; float:none; text-align:center; }
.cart_mini_right:hover{background:none;}
.header .header-cart #panel{ top:40px; }
.cart_mini_right .price{ display:none;}

/********** Header Setting *************/
.products-list li .list-center {    margin-top: 15px;    width: 100%;}
.col2-set .col-1 , .col2-set .col-2,.box-account .col2-set .col-1{  width:100%; }
.box-account .col2-set .col-1{ padding-right:0; border:none; margin-bottom:15px;}
.order-info-box .col-1{ margin-bottom:15px; }
.product-view .product-img-box { margin:0 auto 20px; float:none; }
.product-shop{ width:100% !important;}
.header .form-language label , .header .tm_top_currency label { display:none !important; }
.pager .limiter,.pager .pages { float:left;  margin:5px 0;}
.pager .pager_right .sort-by { float:left;  margin-top:5px; margin-left:10px;}
#super-table{ clear:both; }
#new-wishlist-table .add-to-cart-alt button.button span{ width:auto !important;  }
.form-list li.wide textarea{ width:100%; }
.form-list li.fields .name-firstname{ margin-bottom:10px; }
li.item .product-block .hover_block{opacity:1; left:0%;}
.product-image-block,.product-block:hover .product-image-block{padding:15px 0px;}
li.item .product-block .product-block-inner .new-label{opacity:1;}
.col-left .block-cart{display:block;}
.block .block-title{padding:8px 15px;}
.block.block-side-nav-container{ border-top: 4px double #FFFFFF;
    padding:2px 0 0px; margin-top:4px;}
li.item .product-block .product-block-inner .ratings .rating-box{left:auto; right:0px;}
li.item .product-block .product-block-inner .sale-label{left:0px; }
.breadcrumbs{margin-bottom:15px !important;}
.last_row .category-title h2 .line_background{display:none;}
.last_row{width:100%; display:block; overflow:hidden; }
.blog_main{width:100%; margin-right:0px;}
.last_row .products-grid li.item, .col-main .slider-item{overflow:hidden;}
.responsive-menu #nav-mobile{margin-top:0px;}
.subbanner2 .content:hover .data img{margin-top:0px;}
.subbanner3_1 .image{margin-right:0px;}
.subbanner3_1,.subbanner3_2{width:100%; margin-top:15px;}
.subbanner3_top, .subbanner3_bottom,.blog-right{margin-left:0px;}
.blog-right{margin-top:0px; width:60%;}
.subbanner3 .subbanner3_2 .subbanner3_bottom.banner .bottom1:hover .image img, .subbanner3 .subbanner3_2 .subbanner3_bottom.banner .bottom2:hover .image img{margin-left:0px !important; }
.subbanner3 .subbanner3_1:hover .image img, .subbanner3 .subbanner3_2 .subbanner3_top.banner:hover .image img{margin-left:0px;}
.subbanner3 .image img{float:left; width:100%;}
.subbanner3_1 .banner-text{left:80px;}
.bottom1 .banner-text, .bottom2 .banner-text{left:40px;}
.blog-left{margin-right:10px;}
.bestseller-products{margin-left:0px;}
.cart .page-title h1{margin:5px 0px 0px;}
.checkout-cart-index .data-table tr.last td{border-top:none;}
#multiship-addresses-table colgroup{width:100%;}
.header .cart-label{margin-top:0px;}
.header .sbToggle,.header-cart .right_arrow,.header-cart .active .right_arrow{background:url("../../images/arrow-down1.png") no-repeat scroll center center transparent;}
.block-cart{width:100%;}
.desc-asc{float:left; margin-right:5px;}
.mini-products-list .product-details{float:left; clear:none; margin-left:10px;}

.header .header-cart #panel{right:0px;}
.block.block-account{border-bottom:none; border-top:4px double #FFF;}
.line-tab{display:none;}
.subbanner2_1,.subbanner2_2,.subbanner2_3{width:32%;}
.subbanner2 .banner{margin-right:2%;}
.flexslider{margin-bottom:15px;}
 li.item .product-block .product-block-inner .ratings .rating-box,li.item .product-block:hover .product-block-inner .ratings .rating-box{clear:both; left:0px;margin-left: 2px;
    right: 0; bottom:50px;}
.product_tabs_cms_contents{display:none;}
.my-account .pager .limiter, .my-account .pager .pages{clear:both;}
.tabberlive{margin-top:15px;}
li.item .product-block:hover .product-block-inner .ratings .rating-box, ul.item li .product-block:hover .product-block-inner .ratings .rating-box{left:0px;}
}
@media only screen and (max-width: 640px){

#shopping-cart-table thead  , #checkout-review-table thead   , #my-orders-table thead,#multiship-addresses-table thead{
    display: none;
}
#shopping-cart-table tbody tr td  , #checkout-review-table tbody tr td  , #my-orders-table tbody tr td ,
#multiship-addresses-table tbody tr td{
    border-bottom: 1px solid #DDDDDD !important;
    margin: 0;
    padding: 10px 0;
    width: 100%;
}
#shopping-cart-table tbody tr, #shopping-cart-table tbody tr td,
#checkout-review-table tbody tr, #checkout-review-table tbody tr td ,
#my-orders-table tbody tr, #my-orders-table tbody tr td,#multiship-addresses-table tbody tr ,
#multiship-addresses-table tbody tr td {
    /*display: block;*/
    text-align: center !important;
border-top:none;
}
#shopping-cart-table /*tbody*/ tr td,#checkout-review-table /*tbody*/ tr td,#my-orders-table  /*tbody*/ tr td,
#multiship-addresses-table /*tbody*/ tr td{
display:block;
}
.cart-table .btn-update, .cart-table .btn-empty {
float: left;
clear: both;
margin: 5px 0px;
}
.cart-table .btn-update{margin:5px 0px 0px;}
#shopping-cart-table  .btn-remove2 {  margin: 0 auto; }
#shopping-cart-table .item-options dt ,
#checkout-review-table .item-options dt ,
#my-orders-table .item-options dt ,
#multiship-addresses-table .item-options dt{float: none; margin:0 auto;}
#multiship-addresses-table .btn-remove2{left:0px;right:0px; margin:0 auto;}
#shopping-cart-table  .btn-remove2 {margin: 0 auto;}
.item-options dd{padding:0px;}
#shopping-cart-table a.product-image{border:none;}

.multiple-checkout {
    display: inline-block;
    float: left;
    overflow: auto;
    width: 100%;
}
#checkout_multishipping_form button.button,#shipping_method_form button.button,
#multishipping-billing-form button.button,
.multiple-checkout button.button{float:left; clear:both; margin:5px 0;}  
button#review-button {float: none;} 
.blog-right .heading{padding:14px 5px;}
.heading .date_comment{padding:0px;}
.comment_like,.comment_reply{margin-left:0px;}
.box-collateral.box-up-sell .title_style, .crosssell_product .title_style{display:none; }
.image-hover-block{display:none;}
.col2-set.order-info-box,.order-items h2 {
    text-align: center;
}
.header{padding:0px;}
.nav-container{border-top:none;}
.header .quick-access{margin:10px 0 5px;}

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
.form-list li.wide .input-box{width: 260px;}
.form-list li.wide input.input-text{ width: 250px;}
.multiple-checkout .buttons-set button.button{float:left;}
ul.tabbernav li a.selected, ul.tabbernav li a:hover,ul.tabbernav li:first-child a,ul.tabbernav li a{ padding: 11px 5px 14px;}
}

/* Landscape phones and down */
@media only screen and (max-width: 479px) {
.form-list .field , .form-list .input-box ,.form-list li.wide .input-box { width:100% !important; }
.form-list input.input-text , .form-list li.wide textarea, .form-list select , .tm_responsive_row select , 
.product-view .box-tags .form-add input.input-text{width:90% !important; }
.cart_mini_right{ display:none; }
.cart-label{ background: url("../../images/cart-respo.png") no-repeat scroll center center;
    height: 20px;
    margin: 0 auto;
    padding: 8px 0 7px;
    text-align: center;
    cursor:pointer; }
.checkout-progress{ padding:0 50px; }
.checkout-progress li{width:100% ;margin:0 0px 5px 0;}
.cart_mini_right .price{ display:none; }
.tm_responsive_row label , .tm_responsive_row span{width:100% ;margin:0 0px 5px 0;  }
.tm_responsive_row span .separator{ display:none;}
.gift-messages-form .item .details{ margin-left:0; margin-top:15px; }
.product-view .product-img-box{ width:271px; }
.product-view .product-img-box .product-image img{ width:100%; }
.email-addto-box .email-friend{ float:none; margin-bottom:8px; }
.googlemap iframe{ width:100%  !important; }
.col3-set .col-1 , .col3-set .col-2 , .col3-set .col-3 { width:100%; margin-bottom:10px; }
.my-wishlist textarea{ width:90%; }
#my-tags-table td , #my-reviews-table td{ display:block; }
.additional-carousel .slider-item .product-block img{ margin:0 auto; text-align:center; display:block;  }
.product-view .product-shop .availability{ float:none; text-align:left; }
#product-review-table .nobr{  white-space: normal !important; }
#product-review-table td , .data-table thead th{  padding: 5px 3px; }
#product-review-table{ margin:10px 0; }
.buttons-set .back-link{ margin-bottom:10px; margin-right:10px; }
.buttons-set button.button{ float:left; margin-left:0; }
.pager .limiter{ margin-bottom:10px; }
.pager .pager_right .sort-by{ float:none; clear:both;}
.products-list li .list-right{ width:100%; }
.specialproduct, .bestseller-row{width:100%; clear:both;}
.blog-right{width:100%; margin-top:20px;}
.desc {clear: both; float:left; margin-top:5px;}
#newsletter-validate-detail ul{clear:both;}
.block-subscribe .input-box{margin-right:10px;}
.block-subscribe .actions{margin-left:0px;}
.footer-center .manufacture ul{width:100%;}
.subbanner2_1 .bannertext, .subbanner2_2 .bannertext, .subbanner2_3 .bannertext{display:none;}
#footer .mobile_togglemenu{width:98%;}
.subbanner3_bottom .bottom1, .subbanner3_bottom .bottom2{width:100%; margin-bottom:15px;}
.bottom1 .image{margin-right:0px;}
.bottom2 .image{margin-left:0px;}
.subbanner3 .image img{width:100%;}
.subbanner3_top .banner-text{bottom:20px;}
.subbanner3 .image img{width:100%; height:auto;}
.subbanner3_1, .subbanner3_2{margin-top:10px;}
.subbanner3_top,.subbanner3_bottom .bottom1, .subbanner3_bottom .bottom2{margin-bottom:10px;}
.pager .pager_right .sort-by{float:none; clear:both; }
.desc-asc{margin-left:0; margin-right:10px;}
.pager .limiter{float:left;}
.send-friend .buttons-set button.button{margin-bottom:10px;}
button#send2,#checkout-step-login button.button{ float:left; clear:both;}
#checkout-step-login button.button{margin-top:5px;}
.send-friend .buttons-set button.button{clear:both; margin:5px 0;}
.cart-table .btn-continue,.cart-table .btn-update{float:left; clear:both; margin:5px 0;}
.send-friend .form-list li.wide textarea{width:90% !important;}
.link-print{float:left;}
span.nobr .link-reorder{float:none;}
.link-reorder{float:left; clear:both;}
#order-table .link-reorder{float:none;}
.product-view .product-shop .product-name h1{font-size:16px;}
.pager .limiter{ margin-bottom:10px; margin-top:10px; }
.pager .pager_right .sort-by{ float:left; }
.pager .pages {margin:10px 0 0px; }
.pager .limiter{margin-right:5px;}
.block .block-title strong{font-size:14px; }
.form-list .input-range input.input-text{margin:5px 0;}
.sales-order-view .title-buttons .separator{float:left;}
#my-tags-table button.btn-cart{display:block;}
.my-wishlist textarea{ width:90% !important; }
#shopping-cart-table a.product-image{border:none;}
.checkout-onepage-success .buttons-set button.button{margin-left:0;}
.page-popup .link-print{clear:both;}
.my-wishlist .buttons-set button.button{float:left; clear:both; margin:5px 0;}
.subbanner3_1 .banner-text{left:25px; bottom:20px;}
.form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions,.header .links{width:140px;}
ul.tabbernav{height:auto; clear:both; float:none !important;}
ul.tabbernav li{padding:0px 0px; margin-top:0px; display:block;}
.flexslider{margin-bottom:10px;}
.header .quick-access , .header .form-search , .header .form-search input.input-text{  width:95%; padding-left:0%; padding-right:5%; }
.header .sbToggle, .header-cart .right_arrow, .header-cart .active .right_arrow{background:none;}
.tabberlive{margin-top:20px;}
.subbanner2 .data{height:100px;}
ul.tabbernav li a{border-left:1px solid #f9f9f9;}
ul.tabbernav li a.selected, ul.tabbernav li a:hover{border-color:#d7d7d7;}
ul.tabbernav li a{border-right:1px solid #f9f9f9; clear:both; float:left; width:63%;}
.tabberlive .customNavigation a{top:-65px;}
}

/* Mobile Landscape Size to Mobile Portrait (devices and browsers) */
@media only screen and (min-width: 320px) and (max-width: 479px) { }
@media only screen and (max-width: 319px){
.header-cart .right_arrow{ padding:0; background:none; }
.cart .discount .input-box { width:100% !important; }
#footer .block-subscribe input.input-text , .form-list textarea , .cart .discount input.input-text{  width:95%;}
.checkout-progress{ padding:0 10px; } 
.opc .step{ padding:15px 15px; } 
.product-view .product-img-box , .product-view .product-img-box .product-image img{ width:100%; } 
.product-view .product-shop .add-to-links li{ display:block;margin-bottom:8px; }
.product-view .product-shop .availability{ float:none; text-align:left; }
.my-wishlist .buttons-set button.button{ margin:5px 0; text-align:left;}
#product-review-table thead{ display:none; }
.form-language .sbHolder, .tm_top_currency .sbHolder{float:none; text-align:center; padding:0; }
.form-language .sbHolder .sbToggle , .tm_top_currency .sbHolder .sbToggle { display:none; }
.footer-center,.block-subscribe input.input-text{width:100%;}
.last_row .desc-block{margin-left:2px;}
.desc-asc{margin-left:0; margin-right:10px;}
.pager .pager_right .sort-by{float:none; clear:both; width:95%;}
.block .block-title strong{font-size:13px;}
.pager .pages{float:left;}
.pager .pages ol{padding:3px 0 10px;}
.sidebar .block .block-title strong{font-size:14px;}
.multiple-checkout button.button span span,.multiple-checkout .back-link a{font-size:10px;}
.multiple-checkout button.button > span,.multiple-checkout .back-link a{padding:7px 12px;}
#checkout-progress-wrapper .block .block-title strong span{font-size:12px;}
.my-account .pager .limiter{float:left; margin-left:0;}
button#send2{ float:left; clear:both;}
.products-list .list-right p{float:left; clear:both; margin:0px;}
.send-friend .form-list li.wide textarea{width:85% !important;}
.product-view .product-shop .product-name h1{font-size:16px;}
#shopping-cart-table a.product-image{border:none;}
.col2-set .col-2{overflow:auto;}
button.btn-checkout span{padding:0 15px;}
.send-friend .form-list input.input-text{ width:198px !important;}

.subbanner3_top .banner-title{display:none;}
.form-language .sbHolder .sbOptions, .tm_top_currency .sbHolder .sbOptions,.header .links{width:140px;}
.header .header-cart #panel{width:175px;}
.header .quick-access , .header .form-search , .header .form-search input.input-text{  width:93%; padding-left:0%; padding-right:7%; }
ul.tabbernav li a{width:50%;}
}


@media only screen and (max-width:240px) {}
