<!--@subject {{var store.getFrontendName()}}: New Order # {{var order.increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"var logo_url":"Email Logo Image Url",
"var logo_alt":"Email Logo Image Alt",
"htmlescape var=$order.getCustomerName()":"Customer Name",
"var store.getFrontendName()":"Store Name",
"store url=\"customer/account/\"":"Customer Account Url",
"var order.increment_id":"Order Id",
"var order.getCreatedAtFormated('long')":"Order Created At (datetime)",
"var order.getBillingAddress().format('html')":"Billing Address",
"var payment_html":"Payment Details",
"var order.getShippingAddress().format('html')":"Shipping Address",
"var order.getShippingDescription()":"Shipping Description",
"layout handle=\"sales_email_order_items\" order=$order":"Order Items Grid",
"var order.getEmailCustomerNote()":"Email Order Note"}
@-->
<!--@styles
@-->

{{inlinecss file="confirmation-email.css"}}

<p><img style="display: block; margin-left: auto; margin-right: auto;" alt="" src="{{media url="wysiwyg/logo.jpg"}}" />&nbsp;</p>
<p>Hello {{var order.getCustomerFirstname()}} {{var order.getCustomerLastname()}},</p>
<p>Thank you for your order with Diamond Bay Imports.<br /> We will process your order shortly. You can check the status of your order by <a href="http://www.diamondbayimports.co.nz" target="_blank">logging into your account</a>.<br /> Once your order has shipped we will send you an email with your tracking details.<br /> If you have any questions regarding your order please contact us;<br /> Email: <a href="mailto:info@diamondbayimports.com.au">info@diamondbayimports.com.au</a> or<br /> Phone: +61 2 4353 9980 (Monday &ndash; Friday, 9am &ndash; 5pm AEST).<br /><br /> Your order confirmation is below.<br /><span class="no-link">#{{var order.increment_id}} placed on {{var order.getCreatedAtFormated('long')}}</span></p>
<table border="0">
    <tbody>
    <tr class="order-information">
        <td>{{if order.getEmailCustomerNote()}}
            <table class="message-container">
                <tbody>
                <tr>
                    <td>{{var order.getEmailCustomerNote()}}</td>
                </tr>
                </tbody>
            </table>
            {{/if}} {{layout handle="sales_email_order_items" order=$order}}{{depend order.getIsNotVirtual()}}{{/depend}}{{depend order.getIsNotVirtual()}}{{/depend}}
            <table border="0">
                <tbody>
                <tr>
                    <td>
                        <strong>Billing Information:</strong>
                        <p>{{var order.getBillingAddress().format('html')}}</p>
                    </td>
                    <td>
                        <strong>Shipping Information</strong>:
                        <p>{{var order.getShippingAddress().format('html')}}</p>
                    </td>
                </tr>
                <tr>
                    <strong>Shipping method:</strong>
                    <p>{{var order.shipping_description}}</p>
                </tr>
                <tr>
                    <strong>Payment method</strong>:
                    {{var payment_html}}<br /><br /></td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr>
    </tbody>
</table>
<p style="text-align: center;"><strong>Thank you for placing your order with Diamond Bay Imports.</strong></p>
<div class="email-logo-footer"><img style="float: left;" alt="" src="{{media url="wysiwyg/logo.jpg"}}" height="112" width="85" /></div>
<div class="email-logo-footer">&nbsp;</div>
<div class="email-logo-footer">&nbsp;Diamond Bay Imports Pty Ltd</div>
<div class="email-logo-footer">&nbsp;PO BOX 3308</div>
<div class="footer-content">&nbsp;TUGGERAH NSW AUSTRALIA 2259<br /> &nbsp;<a href="mailto:info@diamondbayimports.com.au">info@diamondbayimports.com.au</a></div>
<div class="footer-content">&nbsp;P: +61 2 4353 9980<br />&nbsp;F: +61 2 4353 9983</div>
<p>&nbsp;</p>