<?php
/**
 * aheadWorks Co.
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the EULA
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://ecommerce.aheadworks.com/AW-LICENSE.txt
 *
 * =================================================================
 *                 MAGENTO EDITION USAGE NOTICE
 * =================================================================
 * This software is designed to work with Magento community edition and
 * its use on an edition other than specified is prohibited. aheadWorks does not
 * provide extension support in case of incorrect edition use.
 * =================================================================
 *
 * @category   AW
 * @package    AW_Layerednavigation
 * @version    1.1.5
 * @copyright  Copyright (c) 2010-2012 aheadWorks Co. (http://www.aheadworks.com)
 * @license    http://ecommerce.aheadworks.com/AW-LICENSE.txt
 */
?><script type="text/javascript">
    Ajax.Responders.register({
        onComplete: function(request) {

            if (request.url.indexOf('catalog_category/edit/') !== -1) {
                var synchronizeCheckboxTemplate =
                    '<br>' +
                    '<input id="aw-ln-synchronize-{{attributeCode}}" name="synchronize[{{attributeCode}}]" value="1" type="checkbox" title="<?php echo Mage::helper('aw_layerednavigation')->__('Synchronize with Layered Navigation'); ?>">' +
                    '<label for="aw-ln-synchronize-{{attributeCode}}" title="<?php echo Mage::helper('aw_layerednavigation')->__('Synchronize with Layered Navigation'); ?>"><?php echo Mage::helper('aw_layerednavigation')->__('Synchronize with Layered Navigation'); ?></label>' +
                    '<br>'
                ;

                synchronizeCheckboxTemplate = new Template(synchronizeCheckboxTemplate, new RegExp('(^|.|\\r|\\n)({{\\s*(\\w+)\\s*}})', ''));

                var formPrefix = 'group_3';
                Element.insert(
                    $(formPrefix + 'name'),
                    {after : synchronizeCheckboxTemplate.evaluate({'attributeCode': 'name'})}
                );
                Element.insert(
                    $(formPrefix + 'is_active'),
                    {after : synchronizeCheckboxTemplate.evaluate({'attributeCode': 'is_active'})}
                );
                Element.insert(
                    $(formPrefix + 'description'),
                    {after : synchronizeCheckboxTemplate.evaluate({'attributeCode': 'description'})}
                );
            }
        }
    });
</script>